In [1]:
import pandas as pd
from pylab import *
%matplotlib inline

df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': ['w', 'x', 'y', 'z']})

In [2]:
print(df)

   a  b
0  1  w
1  2  x
2  3  y
3  4  z

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
a    4 non-null int64
b    4 non-null object
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes
None

In [4]:
print(df.head(2))

   a  b
0  1  w
1  2  x

In [5]:
print(df[1:3])

   a  b
1  2  x
2  3  y

In [6]:
print(df.describe())

              a
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [7]:
log_df = pd.read_csv('D:/programming/code/jetbrains/py/data-sci/lab7_/wc_day6_1_sample.csv',
                     names=['ClientID', 'Date', 'Time', 'URL', 'ResponseCode', 'Size'],
                     na_values='-',
                     encoding='ansi')

In [8]:
is_may1st = log_df['Date'] == '01/May/1998'
print(is_may1st.head(2))

may1_df = log_df[is_may1st]
print(may1_df.head())

0    False
1     True
Name: Date, dtype: bool
   ClientID         Date      Time                                    URL  \
1     10871  01/May/1998  12:10:53                      /images/ligne.gif
2     11012  01/May/1998  12:17:30  /english/individuals/player111503.htm
3     11435  01/May/1998  13:15:13                   /french/frntpage.htm
4     12128  01/May/1998  13:30:21    /english/images/nav_sitemap_off.gif
5     13649  01/May/1998  14:55:01                 /images/hm_anime_e.gif

   ResponseCode     Size
1         200.0    169.0
2         200.0   7027.0
3         304.0      0.0
4         304.0      NaN
5         200.0  15609.0

In [9]:
url_codes = log_df[['URL', 'ResponseCode']]
print(url_codes.head(5))

                                     URL  ResponseCode
0                      /images/11104.gif         200.0
1                      /images/ligne.gif         200.0
2  /english/individuals/player111503.htm         200.0
3                   /french/frntpage.htm         304.0
4    /english/images/nav_sitemap_off.gif         304.0

In [10]:
grouped = log_df.groupby('ResponseCode')
print(grouped)  # grouped 是 DataFrameGroupBy，他包含多个 DataFrame, 类似于 字典，一个key对应一个DF

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000133743F1D68>

In [11]:
grouped.ngroups
print(grouped.groups.keys())
print(grouped.get_group(200).head())

dict_keys([200.0, 206.0, 302.0, 304.0, 400.0, 404.0, 500.0])
   ClientID         Date      Time                                    URL  \
0      1044  30/Apr/1998  22:46:12                      /images/11104.gif
1     10871  01/May/1998  12:10:53                      /images/ligne.gif
2     11012  01/May/1998  12:17:30  /english/individuals/player111503.htm
5     13649  01/May/1998  14:55:01                 /images/hm_anime_e.gif
6     15006  01/May/1998  16:14:32  /english/images/comp_bu_group_off.gif

   ResponseCode     Size
0         200.0    508.0
1         200.0    169.0
2         200.0   7027.0
5         200.0  15609.0
6         200.0   1557.0

In [12]:
# to_datetime 将一个字符串转化为一个时间对象
# apply -> 对每一行执行方法，axis=1 每一行 axis=0 每一列
log_df['DateTime'] = pd.to_datetime(
    log_df.apply(lambda row: row['Date'] + ' ' + row['Time'], axis=1))

In [17]:
code200 = grouped.get_group(200)
print(code200[['Size']].mean(axis=0))
print(code200[['Size']].std(axis=0))

    ClientID         Date      Time  \
0       1044  30/Apr/1998  22:46:12
1      10871  01/May/1998  12:10:53
2      11012  01/May/1998  12:17:30
5      13649  01/May/1998  14:55:01
6      15006  01/May/1998  16:14:32
7      16366  01/May/1998  17:14:13
8      16877  01/May/1998  17:46:37
9      17165  01/May/1998  17:58:46
10     17251  01/May/1998  18:06:07
11      1734  01/May/1998  12:57:32

                                                  URL  ResponseCode     Size  \
0                                   /images/11104.gif         200.0    508.0
1                                   /images/ligne.gif         200.0    169.0
2               /english/individuals/player111503.htm         200.0   7027.0
5                              /images/hm_anime_e.gif         200.0  15609.0
6               /english/images/comp_bu_group_off.gif         200.0   1557.0
7                                  /images/arw_lk.gif         200.0    669.0
8                                /images/32p49807.jpg         200.0  13856.0
9                          /images/home_fr_button.gif         200.0   2140.0
10                                /images/s102438.gif         200.0    297.0
11  /english/venues/cities/images/paris/21hundred.gif         200.0    318.0

              DateTime
0  1998-04-30 22:46:12
1  1998-05-01 12:10:53
2  1998-05-01 12:17:30
5  1998-05-01 14:55:01
6  1998-05-01 16:14:32
7  1998-05-01 17:14:13
8  1998-05-01 17:46:37
9  1998-05-01 17:58:46
10 1998-05-01 18:06:07
11 1998-05-01 12:57:32
Size    8441.722091
dtype: float64
Size    81966.548843
dtype: float64